html { 
  height: 100%
}

body {
  position: relative;
}

textarea {
  width: 100%;
  height: 70px;
  max-height: 100px;
  max-width: 110%;
}

.input-group-btn { 
    padding: 0px;
}

.navbar-brand {
    line-height: 1.8 !important;
    padding: 8px 10px !important;
}

.row {
		width:100%;
		padding-top:90px;
		padding-bottom:90px;
		margin:0px;
		min-height:100%;
		position:relative;
}

.small-icone {
    width: 5%;
    float: left;
    margin-right: 10px;
    padding: 0;
}

#lgpg1 {
  	text-align:center;
  	padding-top:100px;
}

#sel {
  	background-color:white;
	  color:black;
}

#num_pedido {
  margin: 0 10px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
}

.exemplo {
  margin-left: 10px;
  color: #a5a5a5 !important;
  font-size: 12px;
}

.panel-body {
  padding: 0 !important;
}

.list-group-item { 
  font-size:18px;
}

.list-group > a {
    color:black;
    text-decoration:none
  }

label {
  float: left;
  margin-right: 5px;
  font-weight: 100;
}

input[type="checkbox"]
{
  float: left;
}

.input-group {
  width: 100%;
  margin: 10px;
}

.input-group a {
  float: right;
}

.label_data{
  float: initial;
}

.input_data {
  width: 8%;
  border-radius: 2px;
  border: 1px solid #b5b5b5;
}

#ft {
  		position:absolute;
  		bottom:0;
  		width:100%;
  		padding:30px;
  		background-color:#222222;
  		text-align:center;
  		color:lightgrey;
}

.pull { 
  overflow: auto;
}

.new-panel {
      height:250px;
      z-index:1;
      overflow:auto;
}

#back {
    padding-left:5px;
    color:black;
    text-decoration : underline;
}

#hdn, #lbl {
  display: none;
}

.btn-azul-claro {
    background-color: #0ec1b9;
    color: #fff;
}

.btn-verde-escuro {
  
}

.vmr {
  color: #ff0000;
}

.logo-login {
    width: 40%;
    margin-bottom: 5%;
}

.entrar {
  background-color: #222;
  color: #fff;
  width: 46%;
  margin-left: 2%;
}

.novo-usuario {
  background-color: #0078d7;
  color: #fff;
  width: 46%;
  margin-right: 2%;
}

.entrar:hover, .novo-usuario:hover, .entrar:focus, .novo-usuario:focus {
  color: #fff;
}

.modal-dialog {
  margin: 15% auto;
}

.input-email {
    padding: 5px;
    border-radius: 3px;
    border: none;
    border-bottom: solid 1px #222;
}

.input-botao {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #222;
    margin-left: 10px;
    border: none;
    color: #fff;
}

.header-leg {
    float: left;
    width: 33.3%;
    text-align: center;
    background-color: #eaeaea !important;
}

.date-leg {
  font-size: 19px;
  line-height: 1.42857143;
  color: #333;
  margin-left: 21%;
  position: absolute;
}

.item-pedido {
  width: 33.3%;
  padding: 10px 0 !important;
  float: left;
  text-align: center;
}

.date {
  font-size: 19px;
  color: #676767;
  width: 25%;
  float: left;
  text-align: center;
  line-height: 1.42857143;
  margin: 10px 0;
}

.id_pedido {
    width: 25%;
    text-align: center;
    float: left;
    margin: 10px 0;
}

.status_pedido {
    width: 25%;
    text-align: center;
    position: relative;
    float: left;
    margin: 10px 0;
}


.fa-clipboard {
    right: 5%;
    font-size: 25px !important;
    position: absolute;
    color: #f37c28;
}

.fa-check {
    color: #5cb85c;
    right: 5%;
    font-size: 25px !important;
    position: absolute;
}

.fa-clock-o {
    right: 5%;
    font-size: 25px !important;
    position: absolute;
    color: #337ab7;

}

.fa-money {
    color: #508c50;
    right: 5%;
    font-size: 25px !important;
    position: absolute;
}

.fa-pencil-square-o {
    color: #f0ad4e;
    right: 5%;
    font-size: 25px !important;
    position: absolute;
}

.fa-trash-o, .fa-window-close  {
    color: #f34528;
    right: 5%;
    font-size: 25px !important;
    position: absolute;
}

.fa-truck {
    right: 5%;
    font-size: 25px !important;
    position: absolute;
    color: #8abf21;
}

.fa-exclamation-triangle {
    right: 5%;
    font-size: 25px !important;
    color: #ff4700;
    position: absolute;
}

.fa-arrow-left {
    font-size: 25px !important;
    color: #222;
}

.fa-arrow-right {
    font-size: 16px !important;
    color: #fff;
    margin: 0px 0px 0px 10px;
}

.icone-pedido{
    right: 5%;
    font-size: 25px !important;
    position: absolute; 
}

.btn_acao {
  width: 25%;
  float: left;
  margin: 10px 0;
}

.icone_acao {
    width: 33.3%;
    float: left;
    position: inherit;
    text-align: center;
}

.roupa{
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 15px;
    width: 90%;
    float: left;
    margin-right: 10px;
    height: 150px;
    overflow: auto;
}

.roupa-btn {
    margin-top: 21px;
}

.roupa-ic {
    color: #fff;
    font-size: 17px;
    margin: 0;
    float: left;
}

.group-item-roupa {
    list-style: none;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.leg-item-roupa {
    width: 25%;
    float: left;
    text-align: center;
    border-right: 1px solid #ccc;
    padding: 10px 0;
    font-weight: bold;
}

.select-item {
  width: 100%;
  float: left;
}

.select-item:hover {
  cursor: pointer;
}

.item-roupa {
    width: 25%;
    float: left;
    text-align: center;
    padding: 10px 0;
}